/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 25, 2015, 4:48:23 PM
    Author     : root
*/

.tab-menu .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 25px;
    margin-right: 5px;
}

.tab-menu .nav-pills>li>a{
    border-radius: 5px;
    background-color: #7BA9C3;
    color: #ffffff;
}

.nav-pills>li.inactive>a, .nav-pills>li.inactive>a:hover, .nav-pills>li.inactive>a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #8a8b8b;
    pointer-events: none;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #46A0BB; 
}

