﻿
/*=============================================================
    Authour URL: www.designbootstrap.com

    http://www.designbootstrap.com/

    License: MIT

    http://opensource.org/licenses/MIT

    100% Free To use For Personal And Commercial Use.

    IN EXCHANGE JUST TELL PEOPLE ABOUT THIS WEBSITE
   
========================================================  */



/*================================
    GENERAL STYLES
==================================*/

/* @import url("roboto.css"); */

body {
    font-family: 'Roboto', sans-serif;
}

section {
    padding-top: 80px;
    padding-bottom: 120px;
}

#section-content {
    padding-top: 20px;
    padding-bottom: 40px;
}

.head-set {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pad-bottom {
    padding-bottom: 60px;
}
/*================================
    NAVBAR STYLES
==================================*/
.navbar-default {
    background-color: rgb(25, 71, 84);
    /* border-color: transparent; */
    border-bottom: #000000 solid thin;
    color: #fff;
}

    .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, 
    .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:visited {
        color: #fff;
    }

.navbar-brand {
    padding: 0px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color:#fff;
}
/*================================
    HOME SECTION STYLES
==================================*/

/*STYLE OF BACKGROUND IMAGE*/
#home {
    background: url(../img/home_02.jpg) no-repeat center center;  /*Full Witdth background image*/
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    min-height: 550px;
    border-bottom: #000 solid thin;
    border-top: #000 solid thin;
}
    /*STYLE FOR OVERLAY CLASS - WHICH IS ABOVE IMAGE WITH OPACITY/TRANSPARENCY 0.75*/
    #home .overlay {
        padding-top: 90px;
        background-color: rgba(17, 85, 107,.10); /*.75 opacity of the color so that background image is visible*/
        min-height: 550px;
        color: #fff;
    }

    #home h1 {
        text-shadow: 2px 2px #000;
        padding-top: 30px;
        font-weight: 300;
        font-size: 80px;
        font-family: 'Open Sans';
    }
/*SMPLE CLASS TO ADJUST SECTION PADDING & HEIGHT*/

/*CLASS TO FORMAT TEXT*/
.p-cls {
    padding-top: 20px;
    padding-bottom: 40px;
    /* text-shadow: 2px 2px #000; */
    font-family: 'Open Sans';
    color: #fff;
    font-size: 50px;
    line-height: 46px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

/*======================================
    PARALLAX LIKE / STATS SECTION STYLES
=========================================*/

.parallax-like {
    background: url(../img/caballo_01.jpg) no-repeat center center; /* DEFINE IMAGE PATH CAREFULLY*/
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

.parallax-like-2 {
    background: url(../img/butte_01.jpg) no-repeat center center; /* DEFINE IMAGE PATH CAREFULLY*/
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

    .parallax-like .overlay {
        min-height: 350px;
        background-color: rgba(17, 85, 107,.10);
        font-size: 40px;
        padding-bottom: 60px;
        padding-top: 60px;
    }
    
        .parallax-like-2 .overlay-2 {
        min-height: 350px;
        background-color: rgba(17, 85, 107,.10);
        font-size: 40px;
        padding-bottom: 60px;
        padding-top: 60px;
    }

/*================================
    PORTFOLIO / WORK SECTION STYLES
==================================*/
.portfolio-item img:hover { /* POSTFOLIO IMAGE BIG ON HOVER */
    cursor: pointer;
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    z-index: 1;
}

/*================================
    VIDEO SECTION STYLES
==================================*/
#video-sec {
    color: #fff;
    text-align: center;
}

    #video-sec .overlay {
        background-color: rgba(0, 0, 0, 0.80);
        min-height: 300px;
        color: #fff;
    }

    #video-sec h1 {
        padding-top: 80px;
        font-size: 50px;
        font-weight: 900;
        /*padding-bottom: 30px;*/
    }
    
/*================================
    TEAM SECTION STYLES
==================================*/
#team{
    font-size: 20px;
}
    #team h1 {
        /*font-weight: 900;*/
        font-size: 60px;
    }
    #team h2{
        font-size: 30px;
        padding-bottom: 10px;
    }
    #team ul{
        list-style-type: none;
    }
/*================================
    CLIENTS SECTION STYLES
==================================*/
#clients {
    background-color:#f4f4f4;
    padding-bottom:50px;
    padding-top:50px;
}
    #clients img {
        opacity:0.5;
        cursor:pointer;
    }
        #clients img:hover {
            opacity:1;
        }
        
        /*
        .grey{
            background-color: #b5b5b5;
            margin-bottom: 10px;
            border-radius: 5px;
        }     
        */
        
/*================================
    FOOTER SECTION STYLES
==================================*/

footer {
    padding: 20px;
    font-size: 12px;
    text-align: center; 
    background-color: rgba(0, 0, 0, 0.92);
    color: #fff;
}

footer a, footer a:hover {
    color: #fff;
    text-decoration: none;
}
